<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.username">root</property>
      <property name="connection.password">secret</property>
    <mapping resource="Menu.hbm.xml"/>
    <mapping class="org.example.producto2.models.entity.Menu"/>
    <mapping class="org.example.producto2.models.entity.Pedido"/>
    <mapping resource="Pedido.hbm.xml"/>
    <mapping resource="Producto.hbm.xml"/>
    <mapping class="org.example.producto2.models.entity.Producto"/>
    <mapping resource="Tipo.hbm.xml"/>
    <mapping class="org.example.producto2.models.entity.Tipo"/>
    <mapping resource="Usuario.hbm.xml"/>
    <mapping class="org.example.producto2.models.entity.Usuario"/>

    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>