<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>
    <div class="container my-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-4 justify-content-between align-items-center">
                    <h1>Detalles del menu <span th:text="${menu.nombre}"></span></h1>
                </div>

                <div class="row">
                    <div class="col-md-8 ps-3">
                        <div class="mb-3">
                            <label for="menuName" class="form-label">Nombre</label>
                            <input th:field="${menu.nombre}" disabled  id="menuName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="menuPrice" class="form-label">Precio</label>
                            <input id="menuPrice" disabled th:field="*{menu.precio}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>